<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>Hangman Admin Pages</h1>
    <h2>Read A Word</h2>
    <p>Words displayed here</p>
    <hr>
    <table>
        <tr>
        <th>Hiddenword</th>
        <th>Level</th>
        <th>Hint</th>
        </tr>
        {% for word in wordinfo %}
        <tr><td>{{word[0]}}</td><td>{{word[1]}}</td><td>{{word[2]}}</td></tr>
        {% endfor %}
    </table>
    <hr>
    <a href="/">Home</a>
</body>
</html>
